@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,700);

a:focus {  text-decoration: none;   }
a:active, a:hover {text-decoration: none; outline: 0; }
a {  text-decoration: none;  }

body {
  background: #c4c4c4;
  font-family: 'Titillium Web', sans-serif;
}

.contain {
  display: block;
  margin: 100px auto;
  width: 400px;
  height: 330px;
  background: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, .3);
}
/* Info */

.info {
  position: absolute;
  z-index: 200;
  color: #ffffff;
  font-weight: 700;
  top: 320px;
  display: block;
  text-align: center;
  margin-left: 180px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
}



/* Menu */

.menu {
  width: 100px;
  height: 330px;
  position: absolute;
  z-index: 100;
  background: #222222;
  border-radius: 5px 0px 0 5px;
  font-size: 38px;
  text-align: center;
}

.menu ul {
  list-style-type: none;
  position: relative;
  display: block;
  top:0px;
}

.menu ul li {
  display: block;
  width: 100px;
  position: relative;
  right: 40px;
  line-height: 65px;
  color: #d0ced1;
  -webkit-transition: all .3s ease;
  border-bottom: rgba(70, 70, 70, .2) 1px solid;
}

.menu ul li:hover {
  background: #191919;
  border-radius: 5px 0 0 5px;
  -webkit-transition: all .2s ease;
}

.menu a {
  border: 0;
  color: #d0ced1;
}
/* Profile Photo */

.profile {
  float: right;
  width: 300px;
  height: 330px;
  background:#222222;
  border-radius: 0 5px 5px 0;
}

.profile img {
  z-index: 1;
  width: auto;
  height: 100%;
  position: relative;
  right: 30px;
  border-radius: 0 5px 5px 0;
}

.thumbnail {
  height: 200px;
  img.pull-right {
    width: 50px;
  }
}
.project {
  margin: 5px;
  padding: 5px;
  height:200px;
  background: #222222;
  color: white;
  border-radius: 5px;
  border-bottom: rgba(70, 70, 70, .2) 1px solid;
}


.myapp-container {
  position: relative;
  z-index: 2;
  width: 450px;
  height: 450px;
  border: 15px solid #666666;
  background-color: #ecf0f1;
  left: 50%;
  margin-right: -50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top:20px;
}

.myapp-img {
  position: absolute;
  z-index: 3;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -ms-transform: translate(-50%, -50%);
  -o-transition-property: top;
  -o-transition-duration: 0.3s;
  -moz-transform: translate(-50%, -50%);
  -moz-transition-property: top;
  -moz-transition-duration: 0.3s;
  -webkit-transform: translate(-50%, -50%);
  -webkit-transition-property: top;
  -webkit-transition-duration: 0.3s;
  transform: translate(-50%, -50%);
  transition-property: top;
  transition-duration: 0.3s;
}

.myapp-img img {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -ms-transform: translate(-50%, -50%);
  -o-transition-property: top, width;
  -o-transition-duration: 0.3s;
  -moz-transform: translate(-50%, -50%);
  -moz-transition-property: top, width;
  -moz-transition-duration: 0.3s;
  -webkit-transform: translate(-50%, -50%);
  -webkit-transition-property: top, width;
  -webkit-transition-duration: 0.3s;
  transform: translate(-50%, -50%);
  transition-property: top, width;
  transition-duration: 0.3s;
}

.myapp-text {
  position: absolute;
  z-index: 0;
  color: black;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-size: 2em;
  font-weight: bold;
}



.myapp-topdr {
  position: absolute;
  z-index: 2;
  height: 225px;
  width: 100%;
  top: 0;
  background-color: #444444;
  -o-transition-property: height;
  -o-transition-duration: 0.3s;
  -moz-transition-property: height;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.3s;
  transition-property: height;
  transition-duration: 0.3s;
}

.myapp-botdr {
  position: absolute;
  z-index: 1;
  height: 225px;
  width: 100%;
  bottom: 0;
  background-color: #222222;
  -o-transition-property: height;
  -o-transition-duration: 0.3s;
  -moz-transition-property: height;
  -moz-transition-duration: 0.3s;
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.3s;
  transition-property: height;
  transition-duration: 0.3s;
}

.myapp-container:hover {
  cursor: pointer;
}

.myapp-container:hover .myapp-topdr {
  height: 30%;
}

.myapp-container:hover .myapp-botdr {
  height: 0;
}

.myapp-container:hover .myapp-img {
  top: 25%;
}

.myapp-container:hover .myapp-img img {
  top: 25%;
  width: 50%;
}


/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
.footer {
  font-size: 24px;
  color: white;
  position: fixed;
  bottom: 0px;
  height: 40px;
  left: 0px;
  right: 0px;
  background-color: black;
  z-index:2000;
  opacity:.9;
}
